.features__list {
  display: flex;
  min-width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__wrap {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--team-bg-color);
  margin-bottom: 30px;
}

.features__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.features__text {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
