.page-header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--line-border);
}

.page-header__container {
  display: flex;
  align-items: center;
  height: 80px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}
.logo__accent {
  color: var(--logo-black-color);
}

.site-nav__link.current {
  color: var(--accent-color);
}

.site-nav__link {
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;

    background-color: var(--accent-color);
  }
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__item + .contact__item {
  margin-left: 50px;
}
