.btn {
  color: var(--white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  display: inline-block;
  border: 1px solid transparent;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
}
