body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.overlay {
  max-width: 1600px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
